$colors:(
    white:#fff,
    dark:#000,
    black:#292929,
    gray:#6D6D6D,
    grayDeep: #5D5D5D,
    grayLight:#797979,
    grayOther:#ACACAC,
    grayReallyDeep:#313131,
    dodgerBlue:dodgerblue,
    darkBlue: #0C223F,
    blueOther:#3A5A85,
    blueWater:#6895D2,
    blueLighting:#5260C9,
    blueSky:#0092FF,
    blueOcean:#0F1C79,
    blueDeepOcean:#0F185B,
    blueHellOcean:#1B2838,
    red01:#E6331C,
    red02:#F8442D,
    red03:#FF5252,
    orangeJuice:#ffa500,
    coffee:#480E07,
    coffee02:#222222,
    coffee03:#333333,
    coffee04:#151515,
    coffeeRed:#680000,
    yellowLight: #EFFF00,
    yellowDark: #363300,
    greenGrass:#8CD428,
    greenGrassDark:#619617,
    greenDragon:#1BB24C,
);