$color_2: var(--swiper-theme-color);
$font-family_1: Helvetica Neue, Helvetica, Arial, sans-serif;
$font-family_2: "Noto Sans TC", sans-serif;
$font-family_3: "Roboto";
$font-family_4: "Noto Sans TC, sans-serif,Roboto";
$background-color_10: transparent;

.GameHex_Index_Swiper {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}
body {
    background: #eee;
    font-family: $font-family_1;
    font-size: 14px;
    color: map-get($colors , dark);
    margin: 0 auto;
    padding: 0;
}
.swiper {
    width: 100%;
    height: 90vh;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        display: block;
        width: 100%;
        height: 90vh;
        object-fit: cover;
    }
}
.autoplay-progress {
    position: absolute;
    right: 16px;
    bottom: 16px;
    z-index: 10;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: $color_2;
    svg {
        --progress: 0;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 10;
        width: 100%;
        height: 100%;
        stroke-width: 4px;
        stroke: var(--swiper-theme-color);
        fill: none;
        stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
        stroke-dasharray: 125.6;
        transform: rotate(-90deg);
        stroke: #eee;
    }
}
.swiper-button-next {
    --swiper-theme-color: #fff;
}
.swiper-button-prev {
    --swiper-theme-color: #fff;
}
.GH_I_Swiper_Footer {
    width: 100%;
    height: auto;
    background-color: map-get($colors , red03);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    p {
        font-family: $font-family_2;
        font-size: 40px;
        font-weight: bold;
        color: map-get($colors , white);
    }
}
.GameHex_Index_ShopArea {
    width: 100%;
    background-size: cover;
    background-image: url("../img/BC_BG_001m.jpg");
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
	padding: 100px 0;
}
.GH_I_ShopArea_SearchBar {
    border: 1px solid #000;
    width: 80%;
    display: flex;
    justify-content: space-between;
    background-color: map-get($colors , blueOther);
    border-radius: 8px;
	margin-bottom: 60px;
	align-items: center;
	padding: 20px 0;

    @include rwd(1536px) {
		display: none;
    }
}

.GH_I_ShopArea_SearchBar_TagBTN {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 60%;

    @include rwd(900px) {
        width: 70%;
    }

    ul {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        a {
            font-family: $font-family_2;
            font-size: 18px;
            color: map-get($colors , white);
            text-decoration: none;
            text-align: center;

            li {
                width: 100%;
                // height: 24px;
				padding: 12px;
                line-height: 24px;
                border: 1px solid map-get($colors , dark );
				background-color: map-get($colors , dodgerBlue );
                border-radius: 8px;

                @include rwd(1150px) {
                    width: 7vw;
                }

                &:hover {
                    background-color: map-get($colors , blueSky);
                    color: map-get($colors , white);
					animation: glow 1.5s infinite alternate;
                }
            }
        }
    }
}
.GH_I_ShopArea_SearchBar_SeeBTN {
    width: 40%;
    height: 40px;
    display: flex;
    justify-content: right;
    align-items: center;

    @include rwd(900px) {
        width: 30%;
    }
}

.GH_MA_HopeList_SearchTool_index {
	width: 80%;
	padding: 12px;
	padding-left: 8px;
    background-color: map-get($colors, grayOther);
    border: 1px solid black;
    border-radius: 8px;
    position: relative;

    @include rwd(1536px) {
        height: 4vh;
    }

    @include rwd(1150px) {
        width: 40%;
        height: 3vh;
    }

    &::placeholder {
        padding-left: 8px;
    }
}

.index_funnyBox{
	width: 90%;
	display: flex;
	align-items: center;
	justify-content: center;
}


.GH_I_ShopArea_DispalyAndTag {
    display: flex;
    justify-content: center;
    width: 15%;
    height: auto;

    @include rwd(1700px) {
        width: 25%;
    }

	@include rwd(1400px) {
       display: none;
    }
}
.GH_I_ShopArea_GameTag {
    width: 100%;
    height: auto;
    outline: 4px solid map-get($colors , white );
    border-radius: 20px;
    background-color: map-get($colors , blueOther);
    margin-right: 40px;
    display: flex;
    flex-direction: column;
	padding: 200px 40px;

    @include rwd(1536px) {
        padding: 40px 40px;
    }
}

.GH_I_ShopArea_GameTag_FromYour,
.GH_I_ShopArea_GameTag_FromGame {
    font-family: $font-family_2;
    color: map-get($colors, white);
    text-align: center;

    @include rwd(1280px) {
        // padding: 12px 12px 0;
		padding: 12px;
    }

    p {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 16px;
		color: map-get($colors,yellowLight );

        @include rwd(1536px) {
            font-size: 14px;
        }
    }

    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        li {
            position: relative;
            overflow: hidden;
			margin-bottom: 20px;

            a {
                color: map-get($colors, white);
                text-decoration: none;
                display: block;
                width: 100%;
                text-align: center;
                padding: 10px 0;
                position: relative;
                z-index: 1;
				font-size: 24px;
				font-weight: bold;

                span {
                    position: relative;
                    z-index: 2;
                    transition: color 0.3s;
                }

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: -100%;
                    width: 100%;
                    height: 100%;
                    background-color: map-get($colors, blueSky);
                    transition: left 0.3s;
                    z-index: 1;
                }

                &:hover::before {
                    left: 0;
					width: 100%;
                }

                &:hover span {
                    color: map-get($colors, black);
                }
            }
        }
    }
}

.GH_I_ShopArea_GameArea {
    width: 90%;
    border-radius: 16px;
    background-color: map-get($colors , blueOther);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include rwd(1536px) {
		width: 100%;
        padding: 12px;
        justify-content: space-around;
    }
}

.GH_I_ShopArea_GameArea_TitleAndSearh {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include rwd(450px) {
        flex-direction: column;
        height: 6vh;
    }

    p {
        font-family: $font-family_2;
        font-size: 36px;
        font-weight: bold;
        color: map-get($colors , white);

        @include rwd(900px) {
            font-size: 28px;
        }

        @include rwd(650px) {
            font-size: 20px;
        }
    }
}

.GameFilterStyle {
    width: 206px;
    height: 40px;
    font-family: $font-family_2;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid #000;
    border-radius: 4px;
    text-align: center;
    padding-right: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url("../img/Down.png") no-repeat, linear-gradient(to bottom, #ffffff, #e6e6e6);
    background-position: right 10px center;
    background-size: 20px 20px;

    @include rwd(900px) {
        width: 35%;
    }

    @include rwd(650px) {
        font-size: 16px;
    }

    @include rwd(450px) {
        width: 100%;
    }

    &:optional {
        padding-left: 24px;

        @include rwd(900px) {
			display: none;
        }
    }
}

.GH_I_ShopArea_GameArea_GameCardList {
    width: 100%;
	padding: 20px;
	border-radius: 20px;
    background-color: map-get($colors , coffee03);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    overflow-y: scroll;
    overflow-wrap: normal;

    @include rwd(1400px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @include rwd(1200px) {
        grid-template-columns: repeat(1, 1fr);
    }

	@include phone {
        padding: 12px;
    }
}

.recomeGame_indexUse_Card {
    width: 100%;
    height: auto;
	cursor: pointer;

	&:hover{
		animation: glow 1.5s infinite alternate;
		border-radius: 20px;
	}

    &:nth-child(4) {
        margin-right: 0;
    }
    &:nth-child(8) {
        margin-right: 0;
    }
    &:nth-child(12) {
        margin-right: 0;
    }
}
.recomeGame_CardFin {
    width: 300px;
    height: 300px;
}
.recomeGame_indexUse_img {
    position: relative;
    > img {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
		cursor: pointer;
    }
}

.Usage_img{
	position: relative;
    > img {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
    }
}

.Card_000 {
    width: 100%;
	height: auto;
    object-fit: cover;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
	cursor: pointer;
}
.Card_BTN01 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Card_Love {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.discountPrice_index {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: 12px;
    left: 15px;
    width: 50%;
	padding: 12px;
    background-color: map-get($colors , black);
    border-radius: 20px;
	outline: 0.5px solid map-get($colors, white);

    @include rwd(1536px) {
        width: 40%;
    }

	@include rwd(1280px) {
        width: 45%;
    }

	@include rwd(1024px) {
        width: 38%;
    }

    @include rwd(900px) {
        font-size: 18px;
        font-weight: bold;
    }

	@include rwd(700px) {
		width: 45%;
    }

	@include phone {
		width: 60%;
		padding: 8px;
    }

    span {
        font-size: 16px;
        color: map-get($colors , dark);
        border-radius: 16px;
        font-family: $font-family_3;
        display: block;
        background-color: map-get($colors , white);
        padding: 4px 12px;

		@include rwd(1536px) {
			font-size: 14px;
		}

		@include rwd(1280px) {
			font-size: 18px;
		}
    }

    p {
        font-size: 16px;
        font-weight: bold;
        color: map-get($colors , white);
        font-family: $font-family_3;

		@include rwd(1536px) {
			font-size: 14px;
		}

		@include rwd(1280px) {
			font-size: 20px;
		}
    }
}

.HopeList_BTN_index {
	position: absolute;
    top: 20px;
    right: 30px;
    border: none;
    background-color: $background-color_10;

	@include rwd(1536px) {
		right: 10px;
	}

    img {
		width: 100%;
    }
}
.recomeGame_info_index {
    width: 100%;
    height: auto;
    background-color: map-get($colors , blueHellOcean);
	border-radius: 0 0 20px 20px;
}
.recomeGame_info_index_title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
	padding-top: 20px;

    p {
        font-size: 24px;
        font-weight: 500;
        font-family: $font-family_4;
        color: map-get($colors , white);

        @include rwd(1536px) {
            font-size: 18px;
        }

		@include rwd(1280px) {
            font-size: 28px;
        }
    }

    ul {
        display: flex;
        align-items: center;

        @include rwd(1536px) {
            display: none;
        }

        li {
            img {
                // width: 16px;
                // height: 16px;
				width: 100%;

                @include rwd(900px) {
                    width: 32px;
                    height: 32px;
                }
            }
        }
    }
}
.gameTag_indexUse_Bigbox {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
	padding: 20px 10px;
	flex-direction: column;

	@include phone{
		padding: 20px 4px;
	}

    ul {
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, auto);
        gap: 8px;

        li {
			padding: 6px;
            font-size: 16px;
            color: map-get($colors , white);
            background-color: map-get($colors , blueOther);
            border-radius: 8px;
            text-align: center;
			cursor: pointer;

			&:hover{
				color: map-get($colors, white );
				background-color: map-get($colors , blueWater );
				animation:glow 1.5s infinite alternate;
			}

            @include rwd(1536px) {
                padding: 4px;
            }

            @include rwd(1280px) {
				font-size: 20px;
                padding: 10px;
            }

            @include rwd(900px) {
                font-size: 16px;
            }

			@include phone {
                padding: 6px;
            }
        }
    }
}
.BTN_Style_ProductTo_SearchName {
    width: 47px;
    height: 44px;
    background-color: map-get($colors , coffee03);
    border-radius: 8px;
    box-shadow: none;
    background-image: url("../img/Vector-Right.png");
    background-repeat: no-repeat;
    background-position: center;

    @include rwd(1536px) {
        height: 4.3vh;
    }

    @include rwd(900px) {
        height: 4vh;
        width: 5vw;
    }
}
.AddToCart_indexUse_BTN {
    width: 100%;
	padding: 8px;
    background-color: map-get($colors , white);
    border-radius: 8px;
    border: none;
    font-size: 20px;
    font-weight: bold;
	cursor: pointer;
	margin-top: 20px;

	&:hover{
		color: map-get($colors, white );
		background-color: map-get($colors , dodgerBlue );
		animation:glow 1.5s infinite alternate;
	}

    @include rwd(1536px) {
        height: auto;
		padding: 16px;
		font-size: 24px;
    }

    @include rwd(900px) {
        font-size: 18px;
		padding: 12px;
    }
}