$font-family_1: "Roboto", sans-serif;
$font-family_2: "Noto Sans TC, sans-serif,Roboto";
$font-family_3: "Roboto";
$background-color_5: rgba(255, 255, 255, 0.5);
$background-color_7: transparent;

.cheakOutMain {
    width: 100%;
    background-image: url("../img/BC_BG_001m.jpg");
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
	padding: 110px 0;
}

.cheakOutMain01_Top {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    left: 0;
    margin-top: 24px;
    > img {
        width: 104px;
        height: 16px;
        margin-left: 40px;
        margin-right: 40px;
    }
}

.cheakOutMain_Top_Box01 {
    text-align: center;
    > p {
        font-size: 28px;
        font-weight: bold;
        color: map-get($colors, white);
        margin-top: 8px;
        margin-bottom: 8px;
    }
    > span {
        font-size: 18px;
        font-weight: 500;
        color: map-get($colors, white);
        font-family: $font-family_1;
    }
}

.cheakOutMain_Top_Box02 {
    text-align: center;
    > p {
        font-size: 28px;
        font-weight: bold;
        color: map-get($colors, white);
        margin-top: 8px;
        margin-bottom: 8px;
    }
    > span {
        font-size: 18px;
        font-weight: 500;
        color: map-get($colors, white);
        font-family: $font-family_1;
    }
}

.cheakOutMain_Bottom {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;

    @include rwd(1300px) {
        flex-direction: column;
    }
}

.cheakOutMain_Bottom_L {
    width: 60%;

    @include rwd(1300px) {
        width: 80%;
		margin-bottom: 40px;
    }

	@include rwd(600px) {
        width: 94%;
    }

    > h1 {
        font-size: 32px;
        font-weight: bold;
        color: map-get($colors, white);
        text-align: center;
		margin-bottom: 60px;
    }
}

.cheakOutMain_Bottom_L_BigBox {
    width: 100%;
    background-color: map-get($colors , grayDeep);
    border-radius: 8px;
    display: grid;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(1,1fr);
    gap: 20px;
    padding: 20px;

    @include rwd(1280px) {
        padding: 20px;
    }

    @include rwd(970px) {
        gap: 8px;
    }
}

.cheakOutMain_Bottom_L_Box01 {
    width: 100%;
    background-color: map-get($colors, blueHellOcean);
    display: grid;
    grid-template-rows: repeat(1,1fr);
    grid-template-columns: repeat(4,1fr);
    gap: 40px;
    align-items: center;
    justify-items: center;
    padding: 20px;
	border-radius: 20px;

	@include rwd(1300px) {
        gap: 20px;
    }

    @include rwd(970px) {
        gap: 16px;
        grid-template-columns: repeat(2,1fr);
    }

	@include rwd(600px) {
        grid-template-rows: repeat(1,1fr);
		grid-template-columns: repeat(1,1fr);
    }

    > img {
        width: 100%;
    }
}
.gameInfo {
    text-align: center;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(1,1fr);
    gap: 20px;

    @include rwd(1300px) {
    	gap: 8px;
		width: 80%;
    }

	@include rwd(600px) {
		width: 100%;
        grid-template-rows: repeat(1,1fr);
    }

    > p {
        font-size: 28px;
        font-weight: bold;
        color: map-get($colors, white);
        font-family: $font-family_2;

        @include rwd(1400px) {
            font-size: 24px;
        }
    }

    .playform_Icon {
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-rows: repeat(1,1fr);
        grid-template-columns: repeat(3,1fr);
        gap: 20px;

		@include rwd(600px) {
			display: none;
		}

		img{
			display: block;
			width: 100%;
		}
    }
}

.discount_Tag {
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid black;
    background-color: map-get($colors, red02);
    color: map-get($colors, white);
    font-family: $font-family_3;
    text-align: center;
	padding: 8px;


    @include rwd(1100px) {
        font-size: 16px;
    }

	@include rwd(600px) {
        display: none;
    }
}

.price_Area {
    text-align: center;
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(1,1fr);
    gap: 20px;
    color: map-get($colors, white);
    font-family: $font-family_3;

	@include rwd(1000px) {
    	gap: 12px;
    }

	@include rwd(600px) {
		display: none;
    }

    p {
        font-size: 28px;
        font-weight: 400;
    }

    span {
        font-size: 24px;
        font-weight: 500;
        text-decoration: line-through;
    }
}

.cancelBuy_BTN {
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    background-color: map-get($colors, red02);
    color: map-get($colors, white);
    border-radius: 16px;
    border: 0 solid black;
	padding: 18px;
	cursor: pointer;

	&:hover{
		animation: glow 1.5s infinite alternate;
	}

    @include rwd(1300px) {
        font-size: 20px;
    }

    &:hover {
        background-color: map-get($colors , red01);
        border-radius: 16px;
        border: 0 solid black;
    }
}

.cheakOutMain_Bottom_L_Box02 {
    width: 100%;
    background-color: map-get($colors, blueHellOcean);
    display: flex;
    > img {
        width: 200px;
        height: 120px;
        margin-left: 30px;
        margin-top: 16px;
    }
}

.cheakOutMain_Bottom_L_Box03 {
    width: 100%;
    background-color: map-get($colors, blueHellOcean);
    display: flex;
    > img {
        width: 200px;
        height: 120px;
        margin-left: 30px;
        margin-top: 16px;
    }
}

.cheakOutMain_Bottom_L_Box04 {
    width: 800px;
    height: 152px;
    background-color: map-get($colors, blueHellOcean);
    margin-top: 24px;
    margin-left: 35px;
    display: flex;
    > img {
        width: 200px;
        height: 120px;
        margin-left: 30px;
        margin-top: 16px;
    }
}

.cheakOutMain_Bottom_L_Box05 {
    width: 800px;
    height: 152px;
    background-color: map-get($colors, blueHellOcean);
    margin-top: 24px;
    margin-left: 35px;
    display: flex;
    > img {
        width: 200px;
        height: 120px;
        margin-left: 30px;
        margin-top: 16px;
    }
}

.cheakOutMain_Bottom_R {
    border: 1px solid ghostwhite;
    width: 30%;

    @include rwd(1300px) {
        width: 80%;
    }

	@include rwd(600px) {
        width: 94%;
    }
}

.cheakOutMain_Bottom_R_Gauge {
    font-size: 20px;
    font-weight: bold;
    font-family: $font-family_3;
    text-align: center;
    padding: 8px 0;
    background-color: $background-color_5;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;

    @include rwd(1100px) {
        font-size: 14px;
    }
}
.cheakOutMain_Bottom_R_Price {
    background-color: $background-color_5;
    border-bottom: 1px solid #fff;
    padding: 20px;
    display: grid;
    grid-template-rows: repeat(3,1fr);
    gap: 40px;
	text-align: center;
	grid-template-columns: 1fr auto auto; // 設定三個欄位的寬度

	@include rwd(375px){
		padding: 8px;
	}
}

.item01,.item02,.item03 {
	display: contents; // 讓子元素直接成為 grid item
    font-size: 16px;
    font-family: $font-family_3;
}

.itemTitle {
    font-size: 22px;
    font-weight: bold;
}
.itemType {
    font-size: 22px;
    font-weight: bold;
}
.itemPrice {
    font-size: 22px;
    font-weight: bold;
}
.cheakOutMain_Bottom_R_Total {
    background-color: map-get($colors , red03);
}
.priceTotla {
    font-size: 28px;
    font-weight: bold;
    font-family: $font-family_3;
    display: flex;
    justify-content: space-around;
    padding: 20px 0;

    @include rwd(1300px) {
        font-size: 24px;
    }

}
.cheakOutMain_Bottom_B {
    width: 60%;
	margin-top: 40px;
    display: grid;
    align-items: center;
    justify-content: center;
    justify-items: center;
    grid-template-rows: repeat(1,1fr);
    grid-template-columns: repeat(3,1fr);
    gap: 60px;

    @include rwd(1536px) {
        width: 80%;
		gap: 12px;
    }

    @include rwd(1100px) {
        display: none;
    }
}

.commonButton {
    width: 100%;
	height: 90px;
    font-size: 24px;
    font-weight: bold;
    background-repeat: no-repeat;
    background-size: cover;
    color: map-get($colors, white);
    border: none;
    background-color: $background-color_7;
    text-align: center;
    cursor: pointer;
	display: flex; // 使用 Flexbox
    align-items: center; // 垂直居中
    justify-content: center; // 水平居中

    @include rwd(1536px) {
        font-size: 24px;
    }

    @include rwd(1100px) {
        font-size: 20px;
    }
}

.clearlBuy_BTN {
    @extend .commonButton;
    background-image: url("../img/BTN_003.png");
}

.cheackHopeList_BTN {
    @extend .commonButton;
    background-image: url("../img/BTN_004.png");
}

.payMoney_BTN {
    @extend .commonButton;
    background-image: url("../img/BTN_001.png");
}

.cheakOutMain_Discount {
    width: 100%;
    background-image: url("../img/BG_For_BC_BIG_001m.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
	padding: 120px 0;
}
.cheakOutMain_Discount_Top {

    @include rwd(970px) {
        display: none;
    }

    > p {
        color: map-get($colors, white);
        font-size: 36px;
        font-weight: bold;
        margin-bottom: 40px;

        @include rwd(970px) {
            font-size: 16px;
            margin-bottom: 0;
        }
    }
}

.discountBigBox {
    width: 80%;
    background-color: map-get($colors , grayDeep);
    padding: 20px 26px;
    margin: 0 auto;

    @include rwd(1280px) {
        width: 90%;
		padding: 16px 16px;
    }
}
.discountBox {
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 20px;

    @include rwd(1100px) {
        width: 100%;
        padding: 4px;
    }

    @include rwd(970px) {
        grid-template-columns: repeat(1,1fr);
    }

    ul {
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-rows: repeat(1,1fr);
        grid-template-columns: repeat(5,1fr);
        gap: 20px;

        @include rwd(970px) {
            grid-template-rows: repeat(2,1fr);
            grid-template-columns: repeat(1,1fr);
        }

        li {
			display: flex;
            position: relative;

            > img {
                // width: 150px;
                // height: 150px;
				width: 100%;

                @include rwd(970px) {
                    // width: 100px;
                    height: auto;
                }
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }
}
.UseThisCoupon_BTN {
    width: 100px;
    height: 36px;
    line-height: 36px;
    font-size: 14px;
    font-weight: 400;
    background-color: map-get($colors, red02);
    border-radius: 8px;
    border: none;
    position: absolute;
    top: 99px;
    left: 25px;
    font-family: $font-family_2;

    @include rwd(970px) {
        width: 80px;
        top: 50px;
        left: 10px;
    }
}

.LeftArrow_BTN {
    border: none;
    background-color: $background-color_7;
    width: 30px;
    height: 30px;

    @include rwd(1100px) {
        margin-right: 0;
    }

    @include rwd(970px) {
        display: none;
    }
}
.RightArrow_BTN {
    border: none;
    background-color: $background-color_7;
    width: 30px;
    height: 30px;

    @include rwd(1100px) {
        margin-left: 0;
    }

    @include rwd(970px) {
        display: none;
    }
}
.cheakOutMain_Discount_Bottom {
    margin-top: 40px;
    margin-bottom: 32px;

    @include rwd(970px) {
        margin: 0;
    }
    p {
        color: map-get($colors, white);
        font-size: 36px;
        font-weight: bold;

        @include rwd(970px) {
            font-size: 26px;
			margin-bottom: 40px;
        }

		@include phone {
            font-size: 16px;
			margin-bottom: 40px;
        }
    }
}
.cheakOutMain_Discount_Bottom_GameList {
    width: 100%;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-rows: repeat(1,1fr);
    grid-template-columns: repeat(3,1fr);
    gap: 20px;

    @include rwd(1280px) {
        gap: 20px;
        grid-template-columns: repeat(1,1fr);
    }

    @include rwd(970px) {
		width: 80%;
        grid-template-rows: repeat(2,1fr);
        grid-template-columns: repeat(1,1fr);
    }
}

.recomeGame_Card_P {
    width: 80%;
	cursor: pointer;
	border-radius: 20px;

	&:hover{
		animation: glow 1.5s infinite alternate;
	}

    @include rwd(1536px) {
        width: 90%;
    }

    @include rwd(1280px) {
        width: 80%;
    }
}
.recomeGame_Card03 {
    width: 80%;

    @include rwd(1536px) {
        width: 90%;
    }

    @include rwd(1280px) {
        display: none;
    }
}
.recomeGame_CardFin {
    width: 300px;
    height: 300px;
}
.recomeGame_img {
    position: relative;
    > img {
        width: 100%;
        object-fit: cover;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
    }
}
.discountPrice {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: 12px;
    left: 15px;
    width: 50%;
	padding: 12px;
    background-color: map-get($colors , black);
    border-radius: 20px;
	outline: 0.5px solid map-get($colors, white);

    @include rwd(1536px) {
        width: 40%;
    }

	@include rwd(1280px) {
        width: 45%;
    }

	@include rwd(1024px) {
        width: 38%;
    }

    @include rwd(900px) {
        font-size: 18px;
        font-weight: bold;
    }

	@include rwd(700px) {
		width: 45%;
    }

	@include phone {
		width: 60%;
		padding: 8px;
    }

    span {
        font-size: 16px;
        color: map-get($colors , dark);
        border-radius: 16px;
        font-family: $font-family_3;
        display: block;
        background-color: map-get($colors , white);
        padding: 4px 12px;

		@include rwd(1536px) {
			font-size: 14px;
		}

		@include rwd(1280px) {
			font-size: 18px;
		}
    }

    p {
        font-size: 16px;
        font-weight: bold;
        color: map-get($colors , white);
        font-family: $font-family_3;

		@include rwd(1536px) {
			font-size: 14px;
		}

		@include rwd(1280px) {
			font-size: 20px;
		}
    }
}

.HopeList_BTN {
	position: absolute;
    top: 20px;
    right: 30px;
    border: none;
    background-color: $background-color_7;

	@include rwd(1536px) {
		right: 10px;
	}

    img {
		width: 100%;
    }
}
.recomeGame_info {
    width: 100%;
    height: auto;
    background-color: map-get($colors , blueHellOcean);
	border-radius: 0 0 20px 20px;
}
.recomeGame_info_title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
	padding-top: 20px;

    p {
        font-size: 24px;
        font-weight: 500;
        font-family: $font-family_4;
        color: map-get($colors , white);

        @include rwd(1536px) {
            font-size: 18px;
        }

		@include rwd(1280px) {
            font-size: 28px;
        }
    }

    ul {
        display: flex;
        align-items: center;

        @include rwd(1536px) {
            display: none;
        }

		li {
            img {
                // width: 16px;
                // height: 16px;
				width: 100%;

                @include rwd(900px) {
                    width: 32px;
                    height: 32px;
                }
            }
        }
    }
}
.gameTag_Bigbox {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    padding: 20px 10px;
	flex-direction: column;

    ul {
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, auto);
        gap: 8px;

        li {
			padding: 6px;
            font-size: 16px;
            color: map-get($colors , white);
            background-color: map-get($colors , blueOther);
            border-radius: 8px;
            text-align: center;
			cursor: pointer;

			&:hover{
				color: map-get($colors, white );
				background-color: map-get($colors , blueWater );
				animation:glow 1.5s infinite alternate;
			}

            @include rwd(1536px) {
                padding: 4px;
            }

            @include rwd(1280px) {
				font-size: 20px;
                padding: 10px;
            }

            @include rwd(900px) {
                font-size: 16px;
            }

			@include phone {
                padding: 6px;
            }
        }
    }
}
.AddToCart_BTN {
    width: 100%;
	padding: 8px;
    background-color: map-get($colors , white);
    border-radius: 8px;
    border: none;
    font-size: 20px;
    font-weight: bold;
	cursor: pointer;
	margin-top: 20px;

	&:hover{
		color: map-get($colors, white );
		background-color: map-get($colors , dodgerBlue );
		animation:glow 1.5s infinite alternate;
	}

    @include rwd(1536px) {
        height: auto;
		padding: 16px;
		font-size: 24px;
    }

    @include rwd(900px) {
        font-size: 18px;
		padding: 12px;
    }
}
