$font-family_1: "Roboto", sans-serif;

.RegisterMain {
    width: 100%;
    // height: 90vh;
    background-image: url("../img/BG_For_Register_002m.jpg");
    background-size: cover;
	padding: 107px 0;

	@include rwd(1920px){
		padding: 155px 0;
	}

	@include rwd(1100px){
		padding: 260px 0;
	}
}

.RegisterMain_Top {
    width: 80%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

	@include rwd(1536px){
		padding-top: 40px;
	}

	@include phone{
		display: none;
	}
}

.arrow01 {
    width: 10vw;
}

.arrow02 {
    width: 10vw;
}

.RegisterMain_Top_Box01 {
    width: 26%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        width: auto;
        height: auto;
        display: block;
    }

    p {
        color: map-get($colors, white );
        font-size: 28px;
        font-weight: bold;
        text-align: center;
        margin-top: 8px;
        margin-bottom: 8px;
		animation: text-glow 1.5s infinite alternate;

		@include rwd(600px){
			font-size: 18px;
		}
    }

    span {
        color: map-get($colors, white );
        font-size: 18px;
        font-weight: 500;
        text-align: center;
        font-family: $font-family_1;
		animation: text-glow 1.5s infinite alternate;

		@include rwd(600px){
			font-size: 14px;
		}
    }

	img{
		@include rwd(600px){
			width: 60%;
		}
	}

}

.RegisterMain_Top_Box02 {
    width: 26%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        width: auto;
        height: auto;
        display: block;
    }

    p {
        color: map-get($colors, white );
        font-size: 28px;
        font-weight: bold;
        text-align: center;
        margin-top: 8px;
        margin-bottom: 8px;

		@include rwd(600px){
			font-size: 18px;
		}
    }

    span {
        color: map-get($colors, white );
        font-size: 18px;
        font-weight: 500;
        text-align: center;
        font-family: $font-family_1;

		@include rwd(600px){
			font-size: 14px;
		}
    }

	img{
		@include rwd(600px){
			width: 60%;
		}
	}

}

.RegisterMain_Top_Box03 {
    width: 26%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
        width: auto;
        height: auto;
        display: block;

		@include rwd(600px){
			width: 60%;
		}
    }

    p {
        color: map-get($colors, white );
        font-size: 28px;
        font-weight: bold;
        text-align: center;
        margin-top: 8px;
        margin-bottom: 8px;

		@include rwd(600px){
			font-size: 18px;
		}
    }

    span {
        color: map-get($colors, white );
        font-size: 18px;
        font-weight: 500;
        text-align: center;
        font-family: $font-family_1;

		@include rwd(600px){
			font-size: 14px;
		}
    }

}

.RegisterMain_Bot {
    width: 80%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        font-size: 36px;
        font-weight: bold;
        color: map-get($colors, white );
        font-family: $font-family_1;
        margin-top: 64px;
        margin-bottom: 36px;
        text-align: center;

		@include rwd(1536px){
			margin-top: 40px;
		}

		@include rwd(600px){
			font-size: 32px;
		}

    }

    > p {
        font-size: 28px;
        font-weight: bold;
        color: map-get($colors, white );
        font-family: $font-family_1;
        margin-bottom: 16px;
        text-align: center;

		@include rwd(600px){
			font-size: 24px;
		}
    }

    > a {
		display: flex;
		justify-content: center;
		align-items: center;
        text-align: center;
        margin-top: 31px;
        text-decoration: none;
        color: map-get($colors, white );
        background-color: map-get($colors, dark );
        border: 1px solid #fff;
        border-radius: 16px;
        width: 40%;
        height: 6vh;
        font-size: 24px;
        font-weight: bold;

		&:hover{
			animation: glow 1.5s infinite;
		}

		@include rwd(600px){
			width: 60%;
		}
    }

}

.tipsText {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 12px;
    text-align-last: left;
    color: map-get($colors, white );
}

.inputBox01 {
    width: 50%;
    margin-bottom: 20px;
    

	@include rwd(900px){
		width: 100%;
	}

    input {
        width: 100%;
        height: 60px;
        border-radius: 16px;
        background-color: map-get($colors, white );
        padding-left: 12px;

        &::placeholder {
            font-size: 16px;
            font-weight: 400;
            color: map-get($colors , dark);
            padding-left: 0;

			@include phone{
				font-size: 14px;
			}
        }
    }
}

.inputBox02 {
    width: 50%;
    margin-bottom: 20px;

	@include rwd(900px){
		width: 100%;
	}

    input {
        width: 100%;
        height: 60px;
        border-radius: 16px;
        background-color: map-get($colors, white );
        padding-left: 12px;

        &::placeholder {
            font-size: 16px;
            font-weight: 400;
            color: map-get($colors , dark);
            padding-left: 0;

			@include phone{
				font-size: 14px;
			}
        }
    }
}

.inputBox03 {
    width: 50%;
    margin-bottom: 20px;

	@include rwd(900px){
		width: 100%;
	}

    input {
        width: 100%;
        height: 60px;
        border-radius: 16px;
        background-color: map-get($colors, white );
        padding-left: 12px;

        &::placeholder {
            font-size: 16px;
            font-weight: 400;
            color: map-get($colors , dark);
            padding-left: 0;

			@include phone{
				font-size: 14px;
			}
        }
    }
}

// ===================================================================

.RegisterMain02 {
	position: relative;
    width: 100%;
	padding: 200px 0;
    background-image: url("../img/BG_For_Register_d_003.jpg");
    display: block;
    background-size: cover;


	@include rwd(1280px){
		padding: 320px 0;
	}

	@include pad{
		padding: 200px 0;
	}

}
.RegisterMain_Top {
    width: 80%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.arrow01 {
    width: 10vw;
}
.arrow02 {
    width: 10vw;
}
.RegisterMain_Top_Ver_Box01 {
    width: 26%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
        width: auto;
        height: auto;
        display: block;
    }
    p {
        color: map-get($colors, white);
        font-size: 28px;
        font-weight: bold;
        text-align: center;
        margin-top: 8px;
        margin-bottom: 8px;
    }
    span {
        color: map-get($colors, white);
        font-size: 18px;
        font-weight: 500;
        text-align: center;
        font-family: $font-family_1;
    }
}
.RegisterMain_Top_Ver_Box02 {
    width: 26%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
        width: auto;
        height: auto;
        display: block;
    }
    p {
        color: map-get($colors, white);
        font-size: 28px;
        font-weight: bold;
        text-align: center;
        margin-top: 8px;
        margin-bottom: 8px;
		animation: text-glow 1.5s infinite alternate;
    }
    span {
        color: map-get($colors, white);
        font-size: 18px;
        font-weight: 500;
        text-align: center;
        font-family: $font-family_1;
		animation: text-glow 1.5s infinite alternate;
    }
}
.RegisterMain_Top_Ver_Box03 {
    width: 26%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    img {
        width: auto;
        height: auto;
        display: block;
    }
    p {
        color: map-get($colors, white);
        font-size: 28px;
        font-weight: bold;
        text-align: center;
        margin-top: 8px;
        margin-bottom: 8px;
    }
    span {
        color: map-get($colors, white);
        font-size: 18px;
        font-weight: 500;
        text-align: center;
        font-family: $font-family_1;
    }
}
.RegisterMain_Bot {
    width: 80%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
        font-size: 36px;
        font-weight: bold;
        color: map-get($colors, white);
        font-family: $font-family_1;
        margin-top: 64px;
        margin-bottom: 36px;
        text-align: center;
    }
    > p {
        font-size: 28px;
        font-weight: bold;
        color: map-get($colors, white);
        font-family: $font-family_1;
        margin-bottom: 16px;
        text-align: center;
    }
    .errorNotGet {
        font-size: 20px;
        font-weight: bold;
        color: map-get($colors, white);
        margin-top: 44px;
        margin-bottom: 0;
        text-align: left;
    }

    .Resend_BTN {
        background-color: map-get($colors, red02);
    }

    > a {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 31px;
        text-decoration: none;
        color: map-get($colors, white);
        background-color: map-get($colors, dark);
        border: 1px solid #fff;
        border-radius: 16px;
        width: 40%;
        height: 6vh;
        font-size: 24px;
        font-weight: bold;
    }
}
.tipsText {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 12px;
    text-align-last: left;
    color: map-get($colors, white);
}
.inputBox-Ver {
    width: 50%;

	@include pad{
		width: 100%;
	}

    input {
		margin-bottom: 40px;
        width: 100%;
        height: 60px;
        border-radius: 16px;
        background-color: map-get($colors, white);
        padding-left: 12px;
        &::placeholder {
            font-size: 16px;
            font-weight: 400;
            color: map-get($colors , dark);
            padding-left: 0;
        }
    }
}
.Resend_BTN {
    &:hover {
        background-color: map-get($colors, red01);
        color: map-get($colors, coffee);
    }
}
.Keep_BTN {
    &:hover {
        animation: glow 1.5s infinite alternate;
    }
}
@media (max-width: 1280px) {


    .RegisterMain_Bot {
        h1 {
            margin-top: 40px;
            margin-bottom: 28px;
        }
        > a {
            margin-top: 20px;
        }
        .errorNotGet {
            margin-top: 20px;
        }
        .Resend_BTN {
            margin-top: 20px;
        }
    }
}
@media (max-width: 600px) {
    .RegisterMain_Top {
        display: none;
    }
    .RegisterMain_Top_Box01 {
        img {
            width: 60%;
        }
        width: 30%;
        p {
            font-size: 20px;
        }
        span {
            font-size: 14px;
        }
    }
    .RegisterMain_Top_Box02 {
        img {
            width: 60%;
        }
        width: 30%;
        p {
            font-size: 20px;
        }
        span {
            font-size: 14px;
        }
    }
    .RegisterMain_Top_Box03 {
        img {
            width: 60%;
        }
        p {
            font-size: 20px;
        }
        width: 30%;
        span {
            font-size: 14px;
        }
    }
    .RegisterMain_Bot {
        h1 {
            font-size: 24px;
        }
        > p {
            font-size: 20px;
        }
        > a {
            font-size: 18px;
            font-size: 18px;
        }
    }
    .tipsText {
        font-size: 16px;
    }
    .arrow01 {
        width: 8vw;
    }
    .arrow02 {
        width: 8vw;
    }
    .inputBox01 {
        width: 100%;
    }
}

// ===========================================

.RegisterMain03 {
	width: 100%;
	background-image: url(../img/BG_For_Register_004.jpg);
	display: block;
	background-size: cover;
	padding: 200px 0;

	@include rwd(853px){
		padding: 300px 0;
	}
}
.RegisterMain_Fin_Bot {
	padding-top: 180px;
    width: 80%;
	height: auto;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	span {
		color: map-get($colors , white );
		font-size: 24px;
		font-weight: bold;
		display: block;
		text-align: center;
	}

	h1 {
		font-size: 36px;
		font-weight: bold;
		color: map-get($colors, white );
		font-family: $font-family_1;
		margin-top: 64px;
		margin-bottom: 36px;
		text-align: center;
	}
	>p {
		font-size: 28px;
		font-weight: bold;
		color: map-get($colors, white );
		font-family: $font-family_1;
		margin-bottom: 16px;
		text-align: center;
	}
	>a {
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		margin-top: 31px;
		text-decoration: none;
		color: map-get($colors, white );
		background-color: map-get($colors, dark );
		border: 1px solid #fff;
		border-radius: 16px;
		width: 40%;
		height: 6vh;
		font-size: 24px;
		font-weight: bold;
	}
}
.arrow01 {
	width: 10vw;
}
.arrow02 {
	width: 10vw;
}
.RegisterMain_Fin_Top {
	width: 80%;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;

	@include rwd(600px){
		display: none;
	}
}
.RegisterMain_Top_Fin_Box01 {
	width: 26%;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	img {
		width: auto;
		height: auto;
		display: block;
	}
	p {
		color: map-get($colors, white );
		font-size: 28px;
		font-weight: bold;
		text-align: center;
		margin-top: 8px;
		margin-bottom: 8px;
	}
	span {
		color: map-get($colors, white );
		font-size: 18px;
		font-weight: 500;
		text-align: center;
		font-family: $font-family_1;
	}
}
.RegisterMain_Top_Fin_Box02 {
	width: 26%;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	img {
		width: auto;
		height: auto;
		display: block;
	}
	p {
		color: map-get($colors, white );
		font-size: 28px;
		font-weight: bold;
		text-align: center;
		margin-top: 8px;
		margin-bottom: 8px;
	}
	span {
		color: map-get($colors, white );
		font-size: 18px;
		font-weight: 500;
		text-align: center;
		font-family: $font-family_1;
	}
}
.RegisterMain_Top_Fin_Box03 {
	width: 26%;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	img {
		width: auto;
		height: auto;
		display: block;
	}
	p {
		color: map-get($colors, white );
		font-size: 28px;
		font-weight: bold;
		text-align: center;
		margin-top: 8px;
		margin-bottom: 8px;
		animation: text-glow 1.5s infinite alternate;
	}
	span {
		color: map-get($colors, white );
		font-size: 18px;
		font-weight: 500;
		text-align: center;
		font-family: $font-family_1;
		animation: text-glow 1.5s infinite alternate;
	}
}

@media (max-width: 1100px) {
	.RegisterMain_Top_Box01 {
		p {
			font-size: 22px;
		}
	}
	.RegisterMain_Top_Box02 {
		p {
			font-size: 22px;
		}
	}
	.RegisterMain_Top_Box03 {
		p {
			font-size: 22px;
		}
	}
	.RegisterMain_Bot {
		>a {
			font-size: 20px;
		}
	}
}
@media (max-width: 600px) {
	.RegisterMain_Top_Box01 {
		img {
			width: 60%;
		}
		p {
			font-size: 18px;
		}
	}
	.RegisterMain_Top_Box02 {
		img {
			width: 60%;
		}
		p {
			font-size: 18px;
		}
	}
	.RegisterMain_Top_Box03 {
		img {
			width: 60%;
		}
		p {
			font-size: 18px;
		}
	}
	.RegisterMain_Fin_Bot {
		span {
			font-size: 20px;
		}
		>a {
			width: 80%;
			font-size: 18px;
		}
	}
}

