/* ------------------------------------------------------------------------- */
/* 開始進行html5 寫法更正 */
/* ----------------------------------------------------------------------------- */
/* ----------------------- 這邊為logo圖片 專用CSS ------------------------------- */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {

    width: 100%;
    background-color: #000000;
    margin: 0 auto;
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    @include rwd(968px) {

        justify-content: space-around;

        ul {
            display: none;
        }
    }

    @include rwd(600px) {
        padding-top: 8px;
        padding-bottom: 8px;
    }

}

.header_Logo {

    img {
        width: 100%;
        height: 6vh;
        display: block;
    }
}

.nav-link {
    text-decoration: none;
    color: #fff;
    transition: 0.7s ease;
    font-size: 18px;
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 400;

    span {
        display: inline-block;
        font-weight: 500;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            width: 0;
            height: 2px;
            display: block;
            left: 0;
            top: 25px;
            background-color: rgb(168, 212, 255);
            transition: width 0.3s ease;
        }

        &:hover {
            color: map-get($colors , dodgerBlue );

            &::after {
                width: 100%;
                background: rgb(5, 205, 255);
            }
        }
    }
}

.navbar {
    width: 100%;
    min-height: 6vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.nav-menu {
    width: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px;

    @include rwd(1536px) {
        gap: 28px;
    }

    @include rwd(1100px) {
        gap: 12px;
    }

    @include rwd(968px) {
        position: fixed;
        left: -100%;
        top: 6%;
        gap: 0;
        flex-direction: column;
        background-color: map-get($colors , grayDeep );
        width: 100%;
        text-align: center;
        transition: 0.3s;
        z-index: 5;
    }
}

.hamburger {
    display: none;
    cursor: pointer;

    @include rwd(968px) {
        display: block;

        .hamburger.active .bar:nth-child(2) {
            opacity: 0;
        }

        .hamburger.active .bar:nth-child(1) {
            transform: translateY(8px) rotate(45deg);
        }

        .hamburger.active .bar:nth-child(3) {
            transform: translateY(-8px) rotate(-45deg);
        }
    }

    @include rwd(1000px) {
        margin-left: 160px;
    }

    @include phone {
        margin-left: 100px;
    }
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
}

@include rwd(968px) {

    .hanber > img {
        display: block;
    }

    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active {
        left: 0;
    }
}

.active-link span {
    color: dodgerblue;
}